<main>

  <TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      <TH COLSPAN="2"><BR><H3>Top Games</H3>
      </TH>
   </TR>
   <TR ALIGN="CENTER" ng-repeat='game in games'>
      <TD><a ui-sref="gameThread({gameId: game._id})">{{game.name}}</a></TD>
      <td>{{game.subtext}}</td>
      <td><img class="gameImg" ng-src="{{game.imgUrl}}" alt="" /></td>

   </TR>
</TABLE>

</main>

<div itemprop='itemListElement' itemscope itemtype='http://schema.org/ListItem'>
      <meta itemprop='url' content='https://forum.ionicframework.com/t/where-do-i-import-form-directives-formbuilder-controlgroup-validators-abstractcontrol-from/69227'>
      <a href='/t/where-do-i-import-form-directives-formbuilder-controlgroup-validators-abstractcontrol-from/69227' itemprop='item'>
        <span itemprop='name'>Where do I import FORM_DIRECTIVES, FormBuilder, ControlGroup, Validators, AbstractControl from?</span>
      </a>

        <span class='category'>[<a href='/c/ionic-2'>ionic 2</a>]</span>
      <span class='posts' title='posts'>(4)</span>
</div>




<!-- ui-sref="thread({game})" -->
<!-- ui-sref="thread({gameId: game._id})" -->
