<main>

  <TABLE BORDER="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      <TH COLSPAN="2"><BR><H3>Top Games</H3>
      </TH>
   </TR>
   <TR ALIGN="CENTER" ng-repeat='game in games'>

      <TD><a ui-sref="gameThread({gameId: game._id})">{{game.name}}</a></TD>
      <td>{{game.subtext}}</td>
      <td>
        <img class="gameImg" ng-src="{{game.imgUrl}}" alt="" />
      </td>

   </TR>
  </TABLE>

</main>



<div class="img-responsive">
    <li id="thread-1474" class="discussionListItem visible  " data-author="Blamagenkind">

  	<div class="listBlock posterAvatar">
  		<span class="avatarContainer">
  			<a href="members/blamagenkind.2553/" class="avatar Av2553s" data-avatarhtml="true"><img src="https://playdota.s3-eu-west-1.amazonaws.com/avatars/s/2/2553.jpg?1476087455" width="48" height="48" alt="Blamagenkind"></a>

  		</span>
  	</div>

  	<div class="listBlock main">

  		<div class="titleText">


  			<h3 class="title">



  				<a href="threads" title="" class="PreviewTooltip" data-previewurl="threads/prd-cooldown.1474/preview">PRD &amp; Cooldown</a>

  			</h3>

  			<div class="secondRow">
  				<div class="posterDate muted">
  					<a href="members/blamagenkind.2553/" class="username" dir="auto" title="Thread starter">Blamagenkind</a><span class="startDate">,
  					<a class="faint"><abbr class="DateTime" title="Nov 4, 2016 at 10:14 AM" data-time="1478254496" data-diff="458175" data-datestring="Nov 4, 2016" data-timestring="10:14 AM">Friday at 10:14 AM</abbr></a></span>


  				</div>

  				<div class="controls faint">


  				</div>
  			</div>
  		</div>
  	</div>

  	<div class="listBlock stats pairsJustified" title="Members who liked the first message: 0">
  		<dl class="major"><dt>Replies:</dt> <dd>6</dd></dl>

  	</div>
      <dl class="minor"><dt>Views:</dt> <dd>160</dd></dl>
  	<div class="listBlock lastPost">

  			<dl class="lastPostInfo">
  				<dt><a href="members/eebsterthegreat.52372/" class="username" dir="auto">EebstertheGreat</a></dt>
  				<dd class="muted"><a class="dateTime"><abbr class="DateTime" data-time="1478586604" data-diff="126067" data-datestring="Nov 8, 2016" data-timestring="6:30 AM" title="Nov 8, 2016 at 6:30 AM">Yesterday at 6:30 AM</abbr></a></dd>
  			</dl>

  	</div>
  </li>
</div>




<!-- ui-sref="thread({game})" -->
<!-- ui-sref="thread({gameId: game._id})" -->

<button class='chatB btn btn-primary' type="button" name="button" ng-click='chatToggle = !chatToggle'>chat</button>
 <chat ng-show='chatToggle'></chat>
