/*login page*/
#loginButton {
  color: white;
}

.loginCover {
  background-size: cover;
  background-image: url('./images/cool2.png');
  height: 800px;
}

.logButton {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.logButton h1 {
  color: white;
}

/*------------------------Login  Html-------------*/
.gameImg {
  height: 70px;
  width: 80px;
}

.thread-row {
padding-top: 5px;
padding-bottom: 5px;
background-color: rgb(253, 253, 253);
border-bottom: 1px solid rgb(235, 235, 235);
}

.rowList {
  display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: normal;
    font-size: 13px;

}

.reply-heading {
    font-size: 13px;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 164, 158);
    padding: 8px 10px;
    overflow: hidden;
    position: relative;
}

.gameLogo{
  width: 100%;
}

.gameLogo img {
  width: 100%;
  max-height: 400px;
  vertical-align: middle;
  border: solid rgb(31, 164, 158);
  margin: 15px 0;
}


/* thread Border*/
.threadBorder {
  border-left: solid rgb(31, 164, 158);
}





/*.threadTbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}*/

/*

.avatar {
  border-radius: 50%;
}

.thread-td {
  padding-left: 10px;
  border-left: 1px solid transparent;
}

.thread-content {
    font-size: 0.929em;
    margin-top: 8px;
    color: #989898;
    word-wrap: break-word;
    line-height: 1.4;
    padding-right: 20px;
}


.sectionHeaders {
    font-size: 15px;
    font-family: 'Lato', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 164, 158);
    padding: 12px 10px;
    margin: 3px auto 0;
    padding: 0;
}

.threadRow {
  border: solid 2px;
}


.thread-table {
  width: 100%
}*/
