/*login page*/

.loginCover {
  background-size: cover;
  background-image: url('./images/cool2.png');
  height: 800px;
}

.logButton {
  position: fixed;
  top: 43%;
  left: 47%;
  margin-top: -50px;
  margin-left: -100px;
}

.logButton h1 {
  color: white;
}

/*----------------------------- NavBar ------------------------------*/
.imgl {
  height: 75px;
}

.navbar {
  background-color: rgb(31, 164, 158);
  color: white;
  box-shadow: 5px 5px 8px rgb(31, 164, 158);

}

.vidPart {
  display: flex;
  padding: 50px 0px 0px 50px;
}

.vidLeft {
  width: 50%;

}
.vidRight {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center
}
.box {
  overflow: hidden;
  display: block;


}

/*------------------------Login  Html-------------*/
.gameImg {
  height: 70px;
  width: 80px;
}

.thread-row {
padding-top: 5px;
padding-bottom: 5px;
background-color: rgb(253, 253, 253);
border-bottom: 1px solid rgb(235, 235, 235);
}

.rowList {
    display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: normal;
    font-size: 13px;
    border: 2px;
    margin: 15px;
    box-shadow: 5px 5px 8px rgb(31, 164, 158);
}

.reply-heading {
    font-size: 13px;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 164, 158);
    padding: 8px 10px;
    overflow: hidden;a
    position: relative;
}

.gameLogo{
  width: 100%;
}

.gameLogo img {
  width: 100%;
  max-height: 400px;
  vertical-align: middle;
  border: solid rgb(31, 164, 158);
  margin: 15px 0;
}

.btn-primary {
  margin-left: 15px;
}

  /*------------ thread Border---------*/
.threadBorder {
  border-left: solid rgb(31, 164, 158);
}

.avatar {
  border-radius: 50%
}

.replyB {
  float: right;
}

/*.container {
  background-color: rgba(19, 20, 22, .90)
}*/



/*.threadTbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}*/

/*

.avatar {
  border-radius: 50%;
}

.thread-td {
  padding-left: 10px;
  border-left: 1px solid transparent;
}

.thread-content {
    font-size: 0.929em;
    margin-top: 8px;
    color: #989898;
    word-wrap: break-word;
    line-height: 1.4;
    padding-right: 20px;
}


.sectionHeaders {
    font-size: 15px;
    font-family: 'Lato', Arial, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 164, 158);
    padding: 12px 10px;
    margin: 3px auto 0;
    padding: 0;
}

.threadRow {
  border: solid 2px;
}


.thread-table {
  width: 100%
}*/


/* dummie style*/

.discussionListItem {
    padding: 4px 5px;
    box-sizing: border-box;
}

.discussionListItem {
    background-color: rgb(20, 21, 23);
    border-bottom: 1px solid rgb(40, 40, 40);
}

.discussionList .sectionHeaders, .discussionListItem {
    display: flex;
    table-layout: fixed;
    width: 100%;
    word-wrap: normal;
}


/*jumbo  Url*/
.aColor {
  color: white;
}
