<main>

<!-- <input type='text' name="name" placeholder="title" ng-model="title">

<textarea name="name" rows="8" cols="40" ng-model='content' placeholder="content"></textarea> -->

<input type="text" placeholder="Title" ng-model='newThread.title'/>
<textarea placeholder="content" ng-model="newThread.content"></textarea>
<input type="submit" value="create" ng-click='createThread(newThread)'/>

<div class="">
  <ul>
    <li ng-repeat= 'thread in threads'>
      <h5>{{thread.title}}</h5>
      <p> {{thread.content}}</p>
    </li>
  </ul>
</div>


</main>
