<!-- {{thread}} -->


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4>{{thread.title}}</h4>

      <p>{{thread.content}}</p>
      <span>thread.dateCreated</span>
    </div>
  </div>
</div>

  <!--


  <hr>

  {{user}}

  <div ng-repeat= 'reply in replies'>

        <h5><a ui-sref="post">{{reply.title}}</a></h5>
        <p>{{reply.dateCreated}}</p>
        <p>{{reply.content}}</p>
        <p>{{reply.author}}</p>
        <p>{{reply.user}}</p>
        <reply thread-id ='threadId'></reply>
  </div> -->

  <!-- <reply thread-id ='threadId'></reply> -->


  <!-- reply forum Grid -->
<div class="container">
  <div class=" row thread-row">
        <li class="col-md-12 rowList " ng-repeat='reply in replies'>
          <div class="reply-heading"></div>

            <div class="col-md-3" >
                <span>
                    {{user.name}}
                    <img class='avatar'
                     ng-src="{{user.imgUrl}}" alt=""
                </span>

            </div>

                <div class="col-md-6">

                  <div class="titleText">
                    <h5><a ui-sref="post">{{reply.title}}</a></h5>

                    <p>{{reply.content}}</p>
                    <p>{{reply.author}}</p>
                    <p>{{reply.user}}</p>
                  </div>

                </div>
            <div class="" title="Members who liked the first message: 1">
              <p>{{reply.dateCreated}}</p>
            </div>


        </li>


  </div>
<button class='replyB btn btn-primary' type="button" name="button" ng-click='toggle = !toggle'>Post</button>
<reply  ng-show='toggle' thread-id ='threadId'></reply>
</div>

<button class='btn chatB fa fa-comments fa-2x' type="button" name="button" ng-click='chatToggle = !chatToggle' aria-hidden="true"></button>
 <chat ng-show='chatToggle'></chat>

<hr>
